@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Moja pierwsza aplikacja na AZURE</h1>
        <p>aplikacja posiada połączenine z bazą danych AZURE SQL Database</p>
        <p>- Zmiany wprowadzone po publikacji w Internecie</p>
    </div>
